*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: azure;
}

nav{
    background-color:antiquewhite;
    width: 100%;
}

li{
    list-style-type: none;
    display: inline;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-size: 150%;
}

#nav_img{
    width: 4%;
    margin:0.5%;
    border-radius: 25%;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    margin-left: 5%;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card{
    border: 3% solid #000;
    width: 13%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
    border-radius: 5%;
    overflow: hidden;
}

.card img{
    width: 100%;
    display: block;
}

.desc{
    background-color: antiquewhite;
    padding: 7%;
}

form{
    padding: 1.5%;
    width: 25%;
    background-color: antiquewhite;
    border-radius: 2.5%;
}

#contact_header{
    text-align: center;
    margin-bottom: 6%;
}

label, input, textarea, button{
    display: block;
}

label{
    margin-bottom: 1.7%;
}

input, textarea, button{
    padding: 2.5%;
    margin-bottom: 5%;
    width: 100%;
    border-radius: 0.5rem;
    border-width: 0;
}

#form_section{
    align-items: center;
    height: 100vh;
}

button{
    background-color: aqua;
}