.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
    background-color: #dcdcdc !important;
}


#navbar-logo {
    margin-left: 10%;
    margin-right: 10%;
}


#navbar-cart {
    margin-left: 94%;
}


.modal-footer {
    display: flex;
    justify-content: center;
}


.btn.btn-secondary { 
    min-width: 50px;
    text-align: center;
    justify-content: center;
}


#yesButton {
    background-color: rgb(230, 67, 61) !important;
    border-color: rgb(230, 67, 61) !important;
    margin-right: 50px;
}


.container-fluid {
    padding-top: 3%;
    display: flex;
    justify-content: center;
}


@media (max-width: 992px) {
    .col-lg-1 {
        flex: 0 0 auto;
        order: -1;
        max-width: 10%;

    }

    .col-lg-11 {
        flex: 0 0 auto;
        max-width: 90%;
    }
}


.card {
    margin: 1vw;
    height: 165px;
    overflow: hidden;
}


.col-lg-12 {
    min-width: 900px;
}


.row.no-gutters,
.col-md-3 {
    height: 100%;
}


.col-md-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.row.no-gutters,
.col-md-4 {
    height: 100%;
}


.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-fluid {
    height: 95%;
    border-radius: 2%;
}


.card-title {
    max-width: 50%;
}

.desc-onel {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


.desc-twol {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.price {
    position: absolute;
    right: 5%;
    bottom: 40%;
    margin-bottom: 0;
}


.button-avail-div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    position: absolute;
    bottom: 10%;
}


.button-div {
    display: inline-flex;
    margin-bottom: 2px;
    background-color: #e6e6e6;
    border-radius: 10%;
}


button > * {
    pointer-events: none;
}


.btn {
    padding: 3px;
    display: flex;
    align-items: center;
}


.num-in-cart {
    width: 29px;
    text-align: center;
}


.card-text.txtDel > * {
    pointer-events: none;
}


.txtDel {
    position: absolute;
    bottom: 10%;
    right: 5%;
    color: rgb(230, 67, 61) !important;
    text-decoration: underline;
}