.container-col-div {
    background-color: antiquewhite;
    margin-top: 3%;
    border-radius: 15px;
}


.title-div {
    border-bottom: 1px solid #ccc;
}


.child-div {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}


.final-div {
    border: none;
}


.final-container-div {
    margin-bottom: 150px;

}


.btn.btn-primary.btn-autofill {
    background-color: #33b249;
    border: 1px solid #2e9e41;
    position: absolute;
    top: 29%;
    right: 3%;
    padding: 1% 3%;
}


.btn.btn-primary.btn-autofill:focus {
    box-shadow: 0 0 0 0.2rem #33b24896;
}


.btn.btn-primary.btn-autofill:active {
    box-shadow: 0 0 0 0.2rem #33b24896 !important;
    background-color: #76c583;
    border: 1px solid #59b668;
}


.form-label {
    color: #696969;
}


.items-div {
    height: 85px;
    width: 100%;
    padding: 5px 0;
}


.img-col-div {
    display: flex;
    justify-content: center;
}


.summary-img {
    height: 75px !important;
    border-radius: 5px;
}


.price-col-div {
    padding-right: 3% !important;
}


.subtotal,
.delivery-fee,
.total-amount {
    padding: 0 3% !important;
}


.total-amount {
    font-weight: bold;
}


.payment-selector {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}


.payment-container {
    margin-top: 30px;
    display: none;
}


.payment-instruction {
    font-weight: 400;
}


.tng-img {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 30vw;
}


#footer-main-row {
    margin: 0;
}


.footer-item {
    background-color: antiquewhite;
    padding: 2% 2%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    color: #1e1e1e;
}


.footer-total {
    margin: auto 0;
}


.footer-total-amount {
    font-size: 1.5rem;
    font-weight: 650;
    color: #007bff;
}


.btn-place-order {
    margin: auto 0;
    width: 85%;
    padding: 1.8%;
    font-size: 1.32rem;
    font-weight: 500;
}