.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
    background-color: #dcdcdc !important;
}


#navbar-logo {
    margin-left: 10%;
    margin-right: 10%;
}


#navbar-cart {
    margin-left: 94%;
    cursor: pointer;
}


#main-col,
#main-container {
    padding: 0;
    margin: 0;
}


#main-row {
    width: 100%;
}


#main-col {
    top: 0px;
    padding: 0;
    padding-top: 103px;
    width: 8.3333%;
    height: 100%;
    background-color: #c6ffc2 !important;
}


#category-bar {
    width: 100%;
}


.nav-link {
    color: black !important;
}


.nav-link.active {
    background-color: white !important;
    border-radius: 0;
}


.container-fluid {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}


@media (max-width: 992px) {
    .col-lg-1 {
        flex: 0 0 auto;
        order: -1;
        max-width: 10%;

    }

    .col-lg-11 {
        flex: 0 0 auto;
        max-width: 90%;
    }
}


.category-text {
    font-size: xx-large;
    font-weight: 500;
    padding-left: 46px;
    margin-top: 45px;
}


.col-lg-6 {
    min-width: 450px;
    max-width: 700px;
}


.card {
    margin: 1vw;
    height: 165px;
    overflow: hidden;
}


.row.no-gutters,
.col-md-4 {
    height: 100%;
}


.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-fluid {
    height: 95%;
    border-radius: 2%;
}


.desc-onel {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


.desc-twol {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.price {
    position: absolute;
    bottom: 5%;
    margin-bottom: 0;
}


.button-avail-div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    position: absolute;
    bottom: 5%;
    right: 5%;
}


.button-div {
    display: inline-flex;
    margin-bottom: 2px;
    background-color: #e6e6e6;
    border-radius: 10%;
}


button>* {
    pointer-events: none;
}


.btn {
    padding: 3px;
    display: flex;
    align-items: center;
}


.num-in-cart {
    width: 29px;
    text-align: center;
}